* { /* reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0093E9;
    background: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Header */
header {
    background: #39cccc;
    background-image: url('../assets/headerANDfooter.jpg');
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom: 3.5px solid #000;
}
header h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
    color: #fff;
}
/**********/


.container {
    border: 5px solid #000;
    -moz-border: 5px solid #000;
    -webkit-border: 5px solid #000;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 4px 4px 8px #000;
    -moz-box-shadow: 4px 4px 8px #000;
    -webkit-box-shadow: 4px 4px 8px #000;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 250px;
    margin-bottom: 5px;
}
.container:nth-child(3) {
    background: #fff;
}
.container label {
    margin-left: 10px;
}
input[type="number"] {
    width: 150px;
    margin-right: 10px;
}

.container-borders {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #008cba;; /* Green */

    border: none;
    -moz-border: none;
    -webkit-border: none;

    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;

    cursor: pointer;
    border-radius: 25px;
    margin-left: 10px;
    opacity: 0.8;
    transition: 0.4s;
}
button:hover {
    opacity: 1;
}

button:active {
    position: relative;
    top: 1px;
}

.preview {
    border: 1px solid #000;
    -moz-border: 1px solid #000;
    -webkit-border: 1px solid #000;

    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.checkboxes-border {
    display: flex;
    margin-left: 10px;
}

.container .code {
    background-color: #f2f2f2;
    border: 4px solid #000;
    box-shadow: 4px 4px 8px #000;
    -moz-box-shadow: 4px 4px 8px #000;
    -webkit-box-shadow: 4px 4px 8px #000;

    font-size: 14px;
    padding: 10px;
    transition: 0.5s;
}
.container .code:hover {
    box-shadow: 4px 4px 16px #000;
    -moz-box-shadow: 4px 4px 16px #000;
    -webkit-box-shadow: 4px 4px 16px #000;
}

.container-checkboxes {
    margin-left: 50px;
}

.container-checkboxes label {
    margin-right: 10px;
}

.help {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.help img {
    cursor: pointer;

    filter: drop-shadow(10px 5px 5px #4444dd) contrast(1.3);
    -moz-filter: drop-shadow(10px 5px 5px #4444dd) contrast(1.3);
    -webkit-filter: drop-shadow(10px 5px 5px #4444dd) contrast(1.3);
}

.help span {
    background-color: #fff;
    padding-right: 15px;
    font-size: 16px;
    display: none;
}


/* Footer */
footer {
    background-color: #39cccc;
    background-image: url('../assets/headerANDfooter.jpg');
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 11.5px;
}

footer p {
    text-shadow: 4px 4px 8px #113838;
    font-size: 18px;
    color: #111;
    font-family: 'Lobster', cursive;
}
/**********/


/* Media Queries */
@media screen and (max-width: 768px){
    header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    header h1 {
        font-size: 28px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 355px;
    }
    .container button {
        margin-bottom: 5px;
    }
    .container button:nth-child(2) {
        margin-top: 5px;
    }

    .preview {
        margin-bottom: 10px;
        margin-left: 22.5px;
    }

    .container label {
        margin-bottom: 5px;
    }

    .preview {
        margin-right: 15px;
        height: 100px;
    }

    .code {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .container:nth-child(2) {
        border: none;
        -moz-border: none;
        -webkit-border: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .container:nth-child(3) {
        margin-bottom: 50px;
    }
}
