* {
  /* reset css */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  width: 100%;
}

/* HELPERS */
.d-flex-center-default {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/**********/

body#page-home {
  background: #0093e9;
  background: linear-gradient(0deg, #0093e9 0%, #80d0c7 100%);
  background: -moz-linear-gradient(0deg, #0093e9 0%, #80d0c7 100%);
  background: -webkit-linear-gradient(0deg, #0093e9 0%, #80d0c7 100%);
}

/* Header */
body#page-home header {
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 1;
}

body#page-home header h1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0.4rem 0.4rem 0.2rem #000;
}
/**********/

/* SHAPEDIVIDER */
.custom-shape-divider-top {
  position: static;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.custom-shape-divider-top svg {
  width: calc(100% + 1.3px);
  height: 250px;
}

.custom-shape-divider-top .shape-fill {
  fill: #4a90e2;
  opacity: 0.5;
}

.custom-shape-divider-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 0;
}

.custom-shape-divider-bottom svg {
  width: calc(100% + 1.3px);
  height: 300px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #4a90e2;
  opacity: 0.5;
}
/**********/

#info {
  position: absolute;
  width: 25rem;
  top: 14rem;
  left: 0;

  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;

  margin-left: 1.5rem;
  z-index: 1;
}

div.aux1 {
  position: absolute;
  top: 11.5rem;
  z-index: 1;
}

div.aux2 {
  position: absolute;
  top: 36.5rem;
  z-index: 1;
}

.container label {
  margin-left: 1rem;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;

  background-color: #008cba;
  border: none;
  border-radius: 1rem;
  box-shadow: -0.2rem 0.2rem 0.1rem #000;

  margin: 0 1rem 0.5rem 0;
  padding: 1.6rem 3.2rem;
  width: 12.5rem;

  transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;

  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:focus {
  width: 15rem;
}

.container-borders {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #008cba;
  border: none;

  color: #fff;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;

  text-shadow: 0.1rem 0.1rem 0.1rem #000;

  cursor: pointer;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;

  margin-left: 1rem;
  opacity: 0.8;
  transition: 0.4s;
}
button:hover {
  opacity: 1;
}

button:active {
  position: relative;
  top: 0.1rem;
}

.preview {
  border: 0.3rem solid #000;
  width: 10rem;
  height: 10rem;
  margin-left: 1rem;
}

.checkboxes-border {
  display: flex;
  margin-left: 1rem;
}

.container .code {
  background-color: #f2f2f2;
  border: 0.4rem solid #000;
  box-shadow: 0.4rem 0.4rem 0.8rem #000;
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem #000;

  font-family: "Times New Roman", Times, serif;
  font-size: 1.8rem;
  padding: 1rem;
  transition: 0.5s;
}
.container .code:hover {
  box-shadow: 0.4rem 0.4rem 1.6rem #000;
  -webkit-box-shadow: 0.4rem 0.4rem 1.6rem #000;
}

.container-checkboxes {
  margin-left: 5rem;
}

.container-checkboxes label {
  margin-right: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1.15rem;
}

footer p {
  text-shadow: 0.4rem 0.4rem 0.8rem #113838;
  font-size: 1.8rem;
  color: #111;
  font-family: "Lobster", cursive;
}
/**********/

/* Media Queries */
@media screen and (max-width: 768px) {
  body#page-home header{
    position: absolute;
    left: 90px;
  }

  body#page-home header h1 {
    font-size: 2rem;
  }

  #info {
    position: relative;
    width: 28rem;
    top: 0;
  }

  input[type="number"] {
    padding: 0.5rem 1rem;
  }

  div.aux1 {
    position: relative;
    top: 2rem;
  }

  div.aux2 {
    position: relative;
    top: 5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container + .container {
    position: relative;
  }

  .container button {
    margin: 0 auto;
  }

  .preview {
    margin: 0.5rem auto;
  }

  #btn-copy {
    margin: 2.5rem 0;
  }

  .container-checkboxes {
    margin: 1rem auto 0 auto;
  }

  .custom-shape-divider-bottom {
    position: absolute;
  }
}
